<div class="well sidebar-nav">
  <h3>Browse by Categories</h3>
  <ul class="list-group row">
    <% @category_groups.each do |category, movie_count| %>
      <li class="list-group-item col-xs-6 <%= 'font-weight-bold' if category.id.to_s == params[:category] %>">
        <%= link_to "#{category.title} (#{movie_count})", movies_path(category: category, rating: params[:rating])  %>
      </li>
    <% end %>
  </ul>
</div>
