<div class="well sidebar-nav">
  <h3>Browse by Ratings</h3>
  <ul class="list-group row">
    <% @group_by_ratings.each do |rating, movies| %>
      <li class="list-group-item col-xs-4">
        <%= link_to "#{rating} stars (#{movies.count})", movies_path  %>
      </li>
    <% end %>
  </ul>
</div>
